/*.result {
  display: none;
}*/

.about {
  text-align: left;
}

.footer {
  background-color: lightgray;
  margin-top: 50px;
}

.container {
  align-items: center;
  text-align: center;
}

.jumbotron {
  background-color: lightgray;
  height: 400px;
}


.input_hidden {
  position: abosolute;
  left: -9999px;
}
.selected {
  border:2px solid lightgray;
  background-color: lightgray;
}

#blanks label {
  display: inline-block;
  cursor: pointer;
}

#blanks label img {
  padding: 3px;
}



img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  max-width: 400px;
}
